<template>

    <div class="row">
        <h2>Edit order {{id}}</h2>
        <div class="col-sm-12" v-if="order">
            <form v-on:submit.prevent="submitOrderForm">
                <div class="form-group row">
                    <label for="email" class="col-sm-2">Почта пользователя</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="email" v-model="order.email">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="partner" class="col-sm-2">Партнер</label>
                    <div class="col-sm-5">
                        <select id="partner" v-model="order.partner_id" class="form-control">
                            <option :value="partner.id" v-for="partner in partners">{{partner.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="products" class="col-sm-2">Продукты</label>
                    <div class="col-sm-5">
                        <input readonly type="text" class="form-control" id="products" v-model="order.products">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="status" class="col-sm-2">Статус заказа</label>
                    <div class="col-sm-5">
                        <select id="status" v-model="order.status" class="form-control">
                            <option :value="status.id" v-for="status in statuses">{{status.name}}</option>
                        </select>

                    </div>
                </div>
                <div class="form-group row">
                    <label for="price" class="col-sm-2">Сумма</label>
                    <div class="col-sm-5">
                        <input readonly type="text" class="form-control" id="price" v-model="order.price">
                    </div>
                </div>
                <div class="row">
                    <button class="btn btn-small btn-primary">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
    export default {
        name: "OrderEdit",
        props:[
            'id'
        ],
        data: function () {
            return {
                order: null,
                partners: null,
                statuses: [
                    {id: 0, name: 'новый'},
                    {id: 10, name: 'подтвержден'},
                    {id: 20, name: 'завершен'}
                ]
            }
        },
        methods:{
            loadOrder(){
                window.axios.get('/api/orders/' + this.id)
                    .then((response) => {
                        this.order = response.data;
                    })
            },
            loadPartners(){
                window.axios.get('/api/partners')
                    .then((response) => {
                        this.partners = response.data;
                    })
            },
            saveOrder: function () {
                window.axios.post('/api/orders/' + this.id, {
                    params: {
                        id: this.order.order_id,
                        email: this.order.email,
                        partner_id: this.order.partner_id,
                        status: this.order.status
                    }
                })
                    .then((response) => {
                        let type = 'warn';
                        let text = 'Ошибка при сохранении';
                        if(response.data.result){
                            type = 'success';
                            text = 'Изменения сохранены'
                        }
                        this.$notify({
                            group: 'common',
                            title: null,
                            text: text,
                            type: type
                        });
                    })
            },
            submitOrderForm(){
                this.saveOrder();
            }
        },
        created() {
            this.loadPartners();
            this.loadOrder();
        }
    }
</script>

<style scoped>

</style>
