<template>
    <div class="row">
        <div class="col-sm-12">
            <v-client-table
                :data="tableData"
                :columns="tableColumns"
            >
                <router-link slot="order_id" slot-scope="props" :to="{name: 'orders.edit', params: {id: props.row.order_id}}">{{props.row.order_id}}</router-link>
                <span slot="status" slot-scope="props">{{statuses[props.row.status]}}</span>
            </v-client-table>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Orders",
        data: function () {
            return {
                tableData: [],
                tableColumns: [
                    'order_id', 'price', 'products', 'partner', 'status'
                ],
                statuses: {
                    0: 'новый',
                    10: 'подтверждёт',
                    20: 'завершен'
                }
            }
        },

        methods:{
            loadOrders(){
                window.axios.get('/api/orders', {
                    city: this.city
                })
                    .then((response) => {
                        this.tableData = response.data;
                    });
            }
        },

        created() {
            this.loadOrders();
        }
    }
</script>

<style scoped>

</style>
