<template>
    <div>Температура в городе {{city}} <strong class="text-success">{{temperature}}</strong> градусов</div>
</template>

<script>
    export default {
        name: "Temperature",
        data(){
           return {
               weather: null,
               city: 'Брянск'
           }
        },

        methods:{
            loadWeather(){
                window.axios.get('/api/weather/' + this.city)
                    .then(response => this.weather = response.data);
            },
        },

        created: function () {
            this.loadWeather();
        },

        computed: {
            temperature: function () {
                return this.weather != null ? this.weather.data.current_condition[0].temp_C : '';
            }
        }
    }
</script>

<style lang="scss" scoped>

</style>
