<template>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 menu">
                <router-link class="menu__item" :to="{name: 'home'}">Home</router-link>
                <router-link class="menu__item" :to="{name: 'temperature'}">Температура</router-link>
                <router-link class="menu__item" :to="{name: 'orders.all'}">Заказы</router-link>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <router-view></router-view>
            </div>
        </div>
        <notifications group="common" />
    </div>
</template>

<script>
    export default {
        name: "App"
    }
</script>

<style lang="scss" scoped>
    .menu{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        .menu__item{
            margin: 10px 20px 10px 0px;
        }
    }
</style>
